<?php
	// SQL server
	$smart_host="localhost" ;
	$smart_user="server" ;
	$smart_password="password" ;
	$smart_database="smart" ;
	$database_persistent=true ;

	// List of timezone: http://php.net/manual/en/timezones.php
	$timezone = "US/Eastern" ;

	// expected number of icons on map
	$map_icons=100;
	
	// MSS configure file
	$mss_conf="C:\\SmartSvrApps\\mss.conf";
	
	// Dashboard Option file
	$dashboard_conf="C:\\SmartSvrApps\\dashboardoption.config" ;
	
	// backup file location, 
	$backup_path="C:\\smartbackup" ;
	
	// set to 1 to include auto_increment fields in backup.
	$backup_auto_increment = 0 ;
	
	// maximum map events to report, valid from 100000 to 2000000 (larger than 1000000 may not work well)
	$max_map_events=500000 ;
	
	// enable virtual scroll on grid display, may failed on huge table. value can be true or false
	$grid_scroll=false;
	
	// exact time range (seconds)
	$exact_time_range=60;

	// minimum travelling interval time.
	// $min_traveltime = 30 ;
	
	// zone moving mode, "cross" or "center"
	// $zone_mode = "cross" ;
	
	// bing map credentials, for each tdweb installation, please head to https://www.bingmapsportal.com/  and get a new bing map key
	$map_credentials="AqH8jpFgh8cOPZNsTLo0wcOQNGji0uwHgiGyBXOxJvzDySVjKN36y6t_TU1o33e-" ;

	// Default map location, comment it to auto detect
	$map_area="Toronto" ;
	
	// session timeout (max half hour)
	$session_timeout=900 ;	
	$session_path= "session";
	$session_idname = "touchdownid";

	// Maximum videos cache size in Mega Bytes
	$webplay_cache_size = 20000 ;
	
	// enable or disable live track
	$enable_livetrack = 1 ;
	
	// new td live support
	$liveplay_protocol = "relay" ;
	$liveplay_host = "200.200.200.200" ;		// this is td live relay server's public ip address
	$support_https_playback = True;
					
	// live track server (AVL Service)
	$avlservice = "http://localhost:40520/avlservice" ;
	$avlcbserver = "http://localhost:80" ;
	$avlcbapp = "vltevent.php" ;
	
	$enable_videos = true ;
	// web video playback
	$webplay_support = 1 ;
	$use_conv266 = true ;
	$conv266_text = false ;

	// don't show video uploaded number on dashboard
	$show_vehicles_uploaded = false;

	$support_videoviacellular = false ;
?>