
html,body {
margin: 0px;
padding: 0px ;
height:100%;
font:12px Arial, Helvetica, sans-serif ;
}

img {
 border:0;
}
 
:focus {
 outline:0;
}

#container {
min-height:100%;
background-color:#ffe;
}

#push {
clear:both;
height:3em;
visibility:hidden;
display:none;
}

#header {
	position:relative;
	background-color:#fff;
	padding-left:30px;
	padding-right:30px;
}

#lpanel {
	float:left;
	margin-left:8px;
	margin-right:1px;
	background-color:#fff;
}

#mcontainer {
	position:relative;
	overflow:auto;
}

div.wait {
background: #666;
opacity: 0.4;
filter:alpha(opacity=40);
cursor: wait;
top: 0;
bottom: 0;
right: 0;
left: 0;
position: fixed;
z-index: 500;
}

#title {
	background-color:#cee;
	padding-left:20px;
	padding-right:20px;
}

#title #rt_msg_container {
    float:right; 
	margin-right:20px ;
}

#title #rt_msg_container #rt_msg {
    font-size:11px;
	margin:0px;
}

#rcontainer {
    padding-right:3px;
}

#rpanel {
	position:relative;
	float:right;
}

#workarea {
    position:relative;
	overflow:auto;
	padding-left:20px;
	padding-right:20px;
	overflow:auto;
}

#tdcmap {
    position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

table.listtable
{
border-collapse:collapse;
}

table.listtable caption
{
text-align: left;
}

table.listtable td, table.listtable th 
{
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}

table.listtable th 
{
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}

table.listtable tr td 
{
color:#000;
background-color:#FFF;
}

table.listtable tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

div .listtablebottomline {
	border-bottom:1px solid #98bf21;
	border-right:1px solid #98bf21;
}

table.summarytable
{
border-collapse:collapse;
width:auto;
}

table.summarytable col.altcol
{
background-color:#ecdff2;
}

table.summarytable td, table.summarytable th 
{
border:1px solid #98bf21;
padding:3px 7px 2px 7px;
}

table.summarytable th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;
}

table.summarytable tr.alt td 
{
color:#000000;
background-color:#EAF2D3;
}

#footer {
height:3em;
margin-top:-3em;
overflow:hidden;
clear:both;
background-color:#fef;
display:none;
}

#footer hr {
margin:2px 10px;
}

.evicon {
width: 16px; height: 16px;
}